#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

body {
  background-color: #292a2d !important;
  color: #fff !important;
}

input {
  font-size: 1.2em;
  height: 48px;
  width: 400px;
  padding: 16px;
  background-color: #3c4043;
  color: #fff;
  border-width: 0 1px;
  border-color: transparent;
  border-radius: 10px;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 36px;
}

.MuiCard-root {
  background-color: #202124 !important;
  color: #c4c7c5 !important;
  padding: 0.5em 1em !important;
}

.MuiContainer-root img {
  margin-top: 0.75em;
  margin-left: 0.75em;
}

.related {
  padding-left: 2em;
}

.title {
  font-size: 1.25rem;
}

.related .title {
  font-size: 1rem;
}

.details {
  font-size: 0.75rem;
}

.feed {
  display: flex;
  align-items: center;
}